<!DOCTYPE html>
<html>

<head>
    <title>Invoice Form</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Angular.js library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <!-- <link media="print" rel="stylesheet" href="angularPrint/angularPrint.css">
        <script src="angularPrint/angularPrint.js"></script> -->
    <!-- Latest compiled and minified CSS -->
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js'></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

    <!--Angular.Js custom script-->
    <script src="InvoiceForm.js"></script>
    <script src="html2pdf.js"></script>
    <!--<script src="js/bill-item.js"></script>-->


    <!--PDF export libraries-->
    <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>  
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.0.489/pdf.js"></script> -->

    <!-- Latest compiled JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>-->

</head>

<body class="">
    <div id="" class="container-fluid px-4 py-4" ng-app="InvoiceForm" ng-controller="InvoiceCtrl" style="background-color: white">
        <form class="px-3">
            <div class="row bg-primary text-white rounded px-4 py-4">
                <div class="col-lg-8">
                    <h4 class="display-4">Khushi paint</h4>
                    <span>Kharasia road Ambikapur</span>
                    <br>
                    <span>mobile- 8435499343</span>
                </div>
                <div class="col-lg-4">
                    <h3>GSTIN-
                        <small> 22AEUPJ2082HIZG</small>
                    </h3>
                </div>
                <input type="hidden" class="form-control" ng-model="ownName" name="ownName" id="ownName" readonly value="Khushi Paint">
                <input type="hidden" class="form-control" ng-model="ownAddress" name="ownAdress" id="ownAdress" readonly value="Kharsia road Ambikapur">
                <input type="hidden" class="form-control" ng-model="ownGstin" name="owngstin" id="owngstin" readonly value="22AEUPJ2082HIZG">
                <input type="hidden" class="form-control" ng-model="ownMobile" name="ownmobile" id="ownmobile" readonly value="8435499343">
            </div>
            <div class="row rounded my-4 border border-info px-2 py-2">
                <div class="clearfix2">
                    <div class="form-group float-left">
                        <label for="customercode">Customer Code</label>
                        <input type="text" class="form-control" ng-model="customerCode" name="customercode" id="customercode" readonly>
                    </div>
                    <div class="form-group float-right">
                        <label for="invoicenumber">Invoice Number</label>
                        <input type="text" class="form-control" ng-model="invoiceNumber" name="invoicenumber" id="invoicenumber" readonly>
                    </div>
                </div>
            </div>

            <div class="row rounded border border-warning px-3 py-4">
                <div>
                    <div class="col-lg-12 row">
                        <div class="form-group col-lg-3">
                            <label for="customerName">Customer name
                                <span class="fb-required">*</span>
                            </label>
                            <input type="text" placeholder="Name of customer" ng-model="customerName" class="form-control" name="customername" id="customerName"
                                required="required" aria-required="true">
                        </div>
                        <div class="form-group col-lg-3">
                            <label for="customeraddress">Customer Address</label>
                            <input type="text" class="form-control" name="customeraddress" ng-model="customerAddress" id="customeraddress">
                        </div>
                        <div class="form-group col-lg-3">
                            <label for="customermobile">Customer Mobile number</label>
                            <input type="tel" placeholder="Enter customer mobile number" ng-model="customerMobile" class="form-control" name="customermobile"
                                id="customermobile">
                        </div>
                        <div class="form-group field-customergstin col-lg-3">
                            <label for="customergstin">Customer GSTIN Number</label>
                            <input type="text" class="form-control" ng-model="customerGstin" name="customergstin" id="customergstin">
                        </div>
                        <hr class="col-lg-12">
                    </div>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    <label for="productcode-input">product code
                                        <span class="">*</span>
                                    </label>
                                </th>
                                <th>
                                    <label for="product-name">product name</label>
                                </th>
                                <th>
                                    <label for="hsncode">HSN Code</label>
                                </th>
                                <th>
                                    <label for="quantity">Quantity
                                        <span>*</span>
                                        <!--<span class="tooltip-element" tooltip="Enter quantity in pieces">?</span>-->
                                    </label>
                                </th>
                                <th>
                                    <label for="rate">Rate
                                        <span class="fb-required">*</span>
                                    </label>
                                </th>
                                <th>
                                    <label for="discount" class="">Discount</label>
                                </th>
                                <th>
                                    <label for="volume">Volume
                                        <span class="fb-required">*</span>
                                        <!--<span class="tooltip-element" tooltip="liter/kg">?</span> -->
                                    </label>
                                </th>
                                <th>
                                    <label for="volume-type">Vol Type</label>
                                </th>
                                <th><span>Delete</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="product in model.products">
                                <td class="form-group">

                                    <input placeholder="Enter product code" class="form-control" ng-model="product.productCode" id="productcode-input" required="required"
                                        aria-required="true" autocomplete="off">
                                </td>
                                <td class="form-group">

                                    <input type="text" placeholder="Enter product name (if required)" ng-model="product.productName" class="form-control" name="product-name"
                                        id="product-name">
                                </td>
                                <td class=" form-group">

                                    <input type="text" placeholder="Enter hsn code" ng-model="product.hsnCode" class="form-control" name="hsncode" id="hsncode">
                                </td>
                                <td class="form-group">

                                    <input type="number" placeholder="" class="form-control" name="quantity" id="quantity" title="Enter quantity in pieces" required="required"
                                        ng-model="product.quantity" aria-required="true" ng-change="quantityCalculation()">
                                </td>
                                <td class="form-group">

                                    <input type="number" placeholder="rate per piece" class="form-control" ng-model="product.rate" name="rate" id="rate" required="required"
                                        aria-required="true">
                                </td>
                                <td class="form-group">

                                    
                                    <input type="number" placeholder="cash discount" class="form-control" ng-model="product.discount" name="discount" id="discount">

                                </td>
                                <td class="form-group ">

                                    <input type="number" class="form-control" name="volume" id="volume" ng-model="product.volume" title="liter/kg" required="required"
                                        aria-required="true">
                                </td>
                                <td class="form-group">
                                    <!-- <div class="dropdown">
                                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                            <span ng-if="drums">drums</span>
                                            <span ng-if="cartons">cartons</span>
                                            <span ng-if="buckets">buckets</span>
                                            <span ng-if="liters">liters</span>
                                            <span ng-if="bags">bags</span>
                                        </button>
                                        <div class="dropdown-menu form-check">
                                            <label class="dropdown-item form-check-label">
                                                <input type="checkbox" class="form-check-input" ng-model="drums" ng-init="drums" /> Drums
                                            </label>
                                            <label class="dropdown-item form-check-label">
                                                <input type="checkbox" class="form-check-input" ng-model="cartons" ng-init="cartons" /> Cartons
                                            </label>
                                            <label class="dropdown-item form-check-label">
                                                <input type="checkbox" class="form-check-input" ng-model="buckets" ng-init="buckets" /> Buckets
                                            </label>
                                            <label class="dropdown-item form-check-label">
                                                <input type="checkbox" class="form-check-input" ng-model="liters" ng-init="liters" /> Liters
                                            </label>
                                            <label class="dropdown-item form-check-label">
                                                <input type="checkbox" class="form-check-input" ng-model="bags" ng-init="bags" /> Bags
                                            </label>
                                        </div>
                                    </div> -->
                                    <select class="form-control" ng-model="product.volumeType" ng-change="quantityCalculation()">
                                        <option>---Select---</option>
                                        <option value="drums">Drums</option>
                                        <option value="cartons">Cartons</option>
                                        <option value="buckets">Buckets</option>
                                        <option value="liters">Liters</option>
                                        <option value="bags">Bags</option>
                                    </select>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-default" ng-click="removeProduct(product)"><b>X</b></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button type="button" class=" btn" ng-click="addProduct()">add</button>
                </div>
            </div>
            <!-- <input type="submit" class=" btn btn-primary" ng-click="exportToPDF()"> -->
        </form>
        <!-- div section which will print -->
        <div id="PdfDiv" class="table-responsive my-3 py-4 text-center">
            <div class="text-center">
                <h4>Invoice</h4>
            </div>
            <table class="table table-borderless text-left mb-1">
                <tr>
                    <td class="" style="width:75%;">
                        <h5>Khushi Paint</h5>
                        <span>Kharasia road Ambikapur</span>
                        <br/>
                        <span>Mobile: 8435499343</span>
                    </td>
                    <td>
                        <span>GSTIN: 22AEUPJ2082H1ZG</span>
                        <br>
                        <span>CIN: </span>
                    </td>
                </tr>
            </table>

            <table class="table text-left m-0">
                <tr>
                    <td>
                        <span>{{customerCode}}</span>
                        <br>
                        <h5>{{customerName}}</h5>
                        <span>{{customerAddress}}
                            <br>
                            <span>Mobile : {{customerMobile}}</span>
                        </span>
                        <br>
                        <span class="">GSTIN : {{customerGstin}}</span>
                    </td>
                    <td>
                        <span class="">Invoice Number : </span>
                        <br>
                        <span class="">Invoice Date : </span>
                    </td>
                    <td></td>
                </tr>
            </table>
            <table class="table text-left" style="margin-bottom: 8rem">
                <tr>
                    <th>S. No</th>
                    <th>Product code</th>
                    <th>Product Description</th>
                    <th>HSN Code</th>
                    <th>Qty</th>
                    <th>Rate</th>
                    <th>Volume</th>
                    <th>Value</th>
                    <th>Cash Disc</th>
                    <th>Tot Disc</th>
                    <th>Taxable value</th>
                    <th>CGST</th>
                    <th>Rate|Amt</th>
                    <th>SGST</th>
                    <th>Rate|Amt</th>

                </tr>
                <tr ng-repeat="product in model.products">
                    <td>{{$index +1}}</td>
                    <td>{{product.productCode}}</td>
                    <td>{{product.productName}}</td>
                    <td>{{product.hsnCode}}</td>
                    <td>{{product.quantity}}</td>
                    <td>{{product.rate}}</td>
                    <td>{{product.volume}}</td>
                    <td>{{product.rate*product.quantity}}</td>
                    <td>{{product.discount}}</td>                    
                    <td>{{(product.rate * product.quantity) * (product.discount/100)}}</td>
                    <td>{{((product.rate * product.quantity - product.discount)*14)/100}}</td>
                    <td>{{((product.rate * product.quantity - product.discount)*14)/100}}</td>
                </tr>
            </table>
            <table class="table text-left border border-left-0 border-right-0 m-0 p-0">
                <tr>
                    <td>
                        <span>
                            <b>Package summary</b>
                        </span>
                        <br/>
                        <span>DRUMS</span>
                        <br/>
                        <span>CARTONS</span>
                        <br/>
                        <span>BUCKETS</span>
                        <br/>
                        <span>LITERS</span>
                        <br/>
                        <span>BAGS</span>
                        <br/>
                        <br/>
                        <span>
                            <strong>Total Quantity</strong>
                        </span>
                        <br/>
                        <span>Total Volume(Ltr/Kg)</span>
                    </td>
                    <td>
                        <span></span>
                        <br/>
                        <span ng-if="model.quantity.drums > 0">{{model.quantity.drums}}</span>
                        <br/>
                        <span ng-if="model.quantity.cartons > 0">{{model.quantity.cartons}}</span>
                        <br/>
                        <span ng-if="model.quantity.buckets > 0">{{model.quantity.buckets}}</span>
                        <br/>
                        <span ng-if="model.quantity.liters > 0">{{model.quantity.liters}}</span>
                        <br/>
                        <span ng-if="model.quantity.bags > 0">{{model.quantity.bags}}</span>
                        <br/>
                        <br/>
                        <span>{{model.quantity.total}}</span>
                        <br/>
                        <span>{{volume}}</span>
                    </td>
                    <td>
                        <table class="table table-borderless m-0 p-0">
                            <tr>
                                <td>
                                    <span>Total Material Value</span>
                                    <br/>
                                    <span>Cash Discount</span>
                                    <br/>
                                    <span>Additional Tax</span>
                                    <br/>
                                    <span>Value Before Tax</span>
                                    <br/>
                                </td>
                                <td>
                                    <span>
                                        <strong>{{model.subTotal}}</strong>
                                    </span>
                                    <br/>
                                    <span>{{discount}}</span>
                                    <br/>
                                    <span></span>
                                    <br/>
                                    <span>{{(rate * quantity - discount)}}</span>
                                </td>
                            </tr>
                        </table>
                        <table class="table-sm m-0 p-0">
                            <tr>
                                <th>Tax</th>
                                <th>Taxable Amt</th>
                                <th>Tax Amt</th>
                                <th>Tax %</th>
                            </tr>
                            <tr>
                                <td>CGST</td>
                                <td>{{(rate * quantity - discount)}}</td>
                                <td>{{((rate * quantity - discount)*14)/100}}</td>
                                <td>14</td>
                            </tr>
                            <tr>
                                <td>SGST</td>
                                <td>{{(rate * quantity - discount)}}</td>
                                <td>{{((rate * quantity - discount)*14)/100}}</td>
                                <td>14</td>
                            </tr>
                        </table>
                        <table class="table table-borderless m-0 p-0">
                            <tr class="">
                                <td>
                                    <span>Round off</span>
                                    <br/>
                                    <span>
                                        <strong>Final Total Value</strong>
                                    </span>
                                </td>
                                <td>
                                    <span>0.0</span>
                                    <br/>
                                    <span>
                                        <strong>{{(rate * quantity - discount)+(2*(((rate * quantity - discount)*14)/100))}}</strong>
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <table class="table table-borderless border border-top-0 border-left-0 border-right-0 text-left m-0">
                <tr>
                    <th>
                        one thousand only
                    </th>
                </tr>
            </table>
            <table class="table table-borderless border border-top-0 border-left-0 border-right-0 text-left p-0 m-0">
                <tr>
                    <td class="border  border-top-0 border-left-0 border-bottom-0">
                        The total quantity as detailed in this invoice has been received in sound condition.
                        <br/>Goods once Sold cannot be taken back or exchanged.
                        <br/>
                        <br/> Dealers Name,Signature and Date of Receipt
                    </td>
                    <td>
                        <br/>
                        <br/>For Khushi Paint
                    </td>
                </tr>
            </table>
            <table class="table table-sm table-borderless p-0 m-0 border border-left-0 border-right-0 border-top-0">
                <tr class="p-0 m-0">
                    <td>Dealer Code</td>
                    <td>Bill No</td>
                    <td>Date</td>
                    <td>Dispatch Date</td>
                    <td>Dispatch Time</td>
                    <td>POD Date</td>
                    <td>POD Time</td>
                </tr>
                <tr class="p-0 m-0">
                    <td>000</td>
                    <td>000</td>
                    <td>000</td>
                    <td>000</td>
                    <td>000</td>
                    <td>000</td>
                    <td>000</td>
                </tr>
            </table>
        </div>
        <div class="text-center">
            <button class="btn btn-primary float-center" onclick="openWin()">Confirm</button>
        </div>
    </div>
    <script>
        function openWin() {
            var myWindow = window.open("invoicewindow.html", "invoiceWindow", "");
            myWindow.onload = function () {
                let content = document.getElementById("PdfDiv").innerHTML;
                myWindow.document.getElementById('mainBody').innerHTML = content;
                myWindow.window.print();
            }
            myWindow.document.close();
        }
    </script>
</body>

</html>
